header {
    background-color: white;
    padding: 20px 100px;
    max-width: 1440px;
    margin: 0 auto;
}

.header_container {
    display: flex;
    justify-content: space-between;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}


.actions .search input {
    background-color: #F0F0F0;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    outline: none;
}

.actions .search {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 577px;
}

.actions .search button {
    background-color: white;
    padding: 5px 7px;
    border-radius: 3px;
}